@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

.hero-image {
  filter: drop-shadow(0 20px 11px rgb(0, 0, 0, 0.5));
}

.product-filter {
  display: grid;
  grid-template: "stack";
  color: #fff;
}

.product-filter > * {
  grid-area: stack;
}

.product-filter > div {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #00000075;
}

.product-filter > div > span {
  margin: auto 0 5px 10px;
}

.text-highlight::before {
  content: "";
  position: absolute;
  transform: rotate(-2deg) translateX(-1px);
  width: 9ch;
  height: 2ch;
  background-color: aliceblue;
  z-index: 0;
}

h1 {
  font-size: 1.5rem;
}